<h2 class="text-center">Change User Password</h2>
<hr/>
<div class="container">
    <form (ngSubmit)="onSubmit()" #userForm="ngForm" class="form-signin">
        <fieldset>
            <div class="form-group">
                <label class="form-control-label" >Old Password:</label>
                <input required type="password" [(ngModel)]="oldPassword" name = "oldPassword" class="form-control "/>
            </div>
            
            <div class="form-group">
                <label class="form-control-label" >Password:</label>
                <input required type="password" [(ngModel)]="newPassword" name = "newPassword" class="form-control "/>
            </div>
            
            <div class="form-group">
                <label class="form-control-label">Verify Password:</label>
                <input required type="password" [(ngModel)] = "verifyPassword"  name = "verifyPassword" class="form-control "/>
            </div>
    
            <ng-container *ngIf="error">
                <div class="alert alert-danger" role="alert">
                    Wrong Password. Please try again!
                </div>
            </ng-container>
    
            <div class="form-group text-center">
                <button type="button"  class="btn btn-secondary" (click)="onCancel()">Cancel</button>&nbsp;&nbsp;
                <button type="submit"  class="btn btn-primary">Submit</button>
            </div>
        </fieldset>
    </form>    
</div>
